<div class='header'>
  <div class='center-align col s12 m2'>      
    <h1 class="z-depth-3">Memory Match</h1>
  </div>
</div>

<script type="text/javascript" src="memory.js"></script>
<div class="container">
      <div class="row">
        <div class="col s3 card-holder valign-wrapper">
          <h3 class="match-card one valign hide">1</h3>
        </div>
        <div class="col s3 card-holder valign-wrapper">
          <h3 class="match-card two valign hide">2</h3>
        </div>
        <div class="col s3 card-holder valign-wrapper">
          <h3 class="match-card three valign hide">3</h3>
        </div>
        <div class="col s3 card-holder valign-wrapper">
          <h3 class="match-card four valign hide">4</h3>
        </div>
      </div>
      <div class="row">
        <div class="col s3 card-holder valign-wrapper">
          <h3 class="match-card four valign hide">4</h3>
        </div>
        <div class="col s3 card-holder valign-wrapper">
          <h3 class="match-card one valign hide">1</h3>
        </div>
        <div class="col s3 card-holder valign-wrapper">
          <h3 class="match-card three valign hide">3</h3>
        </div>
        <div class="col s3 card-holder valign-wrapper">
          <h3 class="match-card two valign hide">2</h3>
        </div>
      </div>
      <div class="row">
        <div class="col s3 card-holder valign-wrapper">
          <h3 class="match-card four valign hide">4</h3>
        </div>
        <div class="col s3 card-holder valign-wrapper">
          <h3 class="match-card two valign hide">2</h3>
        </div>
        <div class="col s3 card-holder valign-wrapper">
          <h3 class="match-card one valign hide">1</h3>
        </div>
        <div class="col s3 card-holder valign-wrapper">
          <h3 class="match-card three valign hide">3</h3>
        </div>
      </div>
      <div class="row">
        <div class="col s3 card-holder valign-wrapper">
          <h3 class="match-card two valign hide">2</h3>
        </div>
        <div class="col s3 card-holder valign-wrapper">
          <h3 class="match-card four valign hide">4</h3>
        </div>
        <div class="col s3 card-holder valign-wrapper">
          <h3 class="match-card one valign hide">1</h3>
        </div>
        <div class="col s3 card-holder valign-wrapper">
          <h3 class="match-card three valign hide">3</h3>
        </div>
      </div>
    </div>