<div class='header'>
  <div class='center-align col s12 m2'>      
    <h1 class="z-depth-3">Games</h1>
  </div>
</div>

<div class='center-align '>

  <div >
    <a href='rock_paper'><%= image_tag('rockpaper.jpg', class: 'pic2') %></a>
  </div>

  <div>
    <a href='memory_game'><%= image_tag('matchgame.jpg', class: 'pic3') %></a>
  </div>
</div>

