.rock,
.paper,
.scissors,
.lizard,
.spock {
  // float: center !important;
  // size: 50% !important;
  // margin-left: 150px;
  height:160px;
  width:160px;
}

body{
  height:600px !important;
}

#para{
  text-align: center !important;
  margin-top: 300px !important;
} 

#direction{
  text-align: center !important;
}